/* HEADER */

.close-button span {
    height: 2px;
    width: 100%;
    background-color: #000;
    position: absolute;
    border-radius: 1px;
}

.close-button span:nth-child(1) {
    top: 20;
    right: 0;
    transform: rotate(45deg);
}

.close-button span:nth-child(2) {
    top: 20;
    left: 0;
    transform: rotate(-45deg);
}

/* /HEADER */


/* ABOUT US SECTION */

.about-us__title {
    color: #f20606;
    font-weight: 600;
}

.about-us__list {
    transition: .2s all ease;

}

.about-us__list:hover {
    margin-left: 7px;
    cursor: pointer;
}

.about-us__why-us-list-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.about-us__why-us-list {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 19%;
    padding: 0 15px;
    /* border: 1px white solid; */
    border-radius: 5px;
    background-color: white;
    color: #f20606;
}

.about-us__why-us-list p {
    font-size: 22px;
    color: black;

}

.about-us__why-us-list span {
    font-size: 54px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-us__why-us-list:hover {
    cursor: default;
}

@media screen and (max-width: 768px) {
    .about-us__list {
        margin-right: -25px;
        margin-left: -25px;
        display: none;
    }

    .about-us__list:nth-child(1) {
        display: block;
    }

    .about-us__list:nth-child(2) {
        display: block;
    }

    .about-us__list:nth-child(3) {
        display: block;
    }

    .about-us__list:nth-child(4) {
        display: block;
    }

    .about-us__why-us-list {
        width: 100%;
    }

    .about-us__why-us-list,
    .about-us__why-us-list i {
        font-size: 24px;
    }
}


/* /ABOUT US SECTION */

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 350px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.flip-card ul {
    text-align: left;
    padding: 10px;
}

.flip-card ul li {
    margin-bottom: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front-white,
.flip-card-front-black,
.flip-card-back-black,
.flip-card-back-white {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front-white {
    background-color: white;
    color: black;
}

.flip-card-front-black {
    background-color: black;
    color: white;
}

/* Style the back side */
.flip-card-back-black {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    font-size: 10px;
}

.flip-card-back-white {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    font-size: 10px;
}